:root {
    --bg-body: #181818;
    --bg-marco: #212121;
    --bg-header: #212121e1;
    --bg-button: #323232;
    --bg-communidad-card: #212121;

    --accion-hover: #4f4d4e;
    --accion-hover-2: #464444;
    --accion-hover-tags: #ffffff33;
    --bg-item: #ffffff1a;

    --font-size-small: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.4rem;
    --font-color-white: #fff;
    --font-color-black: #000;
    --font-color-gray: #aaa;

    --size-image: 2.4rem;
    --size-bar-lef: 7rem;
    --size-cuadrado: 4rem;
    --size-scroll-bar: 1.7rem;
    --size-title-video: 75%;
    --ssize-subtitle-video: 70%;

    --transition-time: 0.3s;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: var(--bg-body);
    min-width: 36rem;


    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "menu-left header"
        "menu-left main";
}

img {
    max-width: 100%;
    object-fit: cover;
}

/*inicio de estilos*/

/* header */
.conteiner-header {
    grid-area: header;
    height: 12rem;
    background-color: var(--bg-header);
    max-width: calc(100vw - (var(--size-bar-lef) + var(--size-scroll-bar)));
    position: sticky;
    top: 0;
}

/* header top */
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    padding:  0 2ch;
}

.header-top__conteiner-logo {
    width: 12rem;
    height: 100%;
}

.header-top__logo {
    width: 100%;
    fill: var(--font-color-white);
    object-fit: cover;
}

.header-top__form {
    width: 50%;
    max-width: 65rem;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-form__bar-search {
    width: 80%;
    height: 100%;
    padding-left: 2ch;
    background-color: var(--font-color-black);
    border: 0.1rem solid var(--accion-hover);
    color: var(--font-color-white);
}

.header-top-form__bar-search:focus {
    outline: 0.1rem solid rgb(19, 101, 133);
}

.header-top-form__button-search {
    width: 6rem;
    height: 100%;
    background-color: var(--bg-button);
    border: 0.1rem solid var(--bg-button);
    color: var(--font-color-white);
    cursor: pointer;
}

button.header-top-form__button-microphone {
    width: var(--size-cuadrado);
    height: var(--size-cuadrado);
    border-radius: 50%;
    background-color: var(--bg-body);
    margin-left: 1ch;
    color: var(--font-color-white);
    border: none;
    cursor: pointer;
}

.header-top__conteiner-buttons-user {
    width: 15%;
    min-width: 16rem;
    max-width: 25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-top__conteiner-buttons-user a {
    text-decoration: none;
    color: var(--font-color-white);
}

.header-top__button-user {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: var(--size-cuadrado);
    height: var(--size-cuadrado);
}

/* header bottom */
.header__bottom {
    height: 50%;
    border-top: 0.1rem solid var(--accion-hover);
    border-bottom: 0.1rem solid var(--accion-hover);
}

.header__bottom li {
    list-style-type: none;
}

.header__bottom a {
    text-decoration: none;
    color: var(--font-color-white);
    text-transform: capitalize;
    font-size: var(--font-size-large);
}

.header-bottom__list-tags {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    padding-right: 1ch;
}

.header-bottom__list-tags::-webkit-scrollbar {
    display: none;
}


.header-buttom__tags-items {
    margin-left: 1ch;
}

.header-buttom__tags-links {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 0.5ch 1ch;
    width: max-content;
    border: 0.1rem solid var(--accion-hover);
    background-color: var(--accion-hover);
    border-radius: 1.2rem;
}

.header-buttom__tags-links:hover {
    background-color: var(--accion-hover-2);
}




/* menu left */
.conteiner-menu-left {
    grid-area: menu-left;
    width: var(--size-bar-lef);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-marco);
}

.conteiner-menu-left a {
    text-decoration: none;
    color: var(--font-color-white);
    text-transform: capitalize;
}

.menu-desplegable {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 10; */
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size-cuadrado);
    height: var(--size-cuadrado);
    border-radius: 50%;
    transition: var(--transition-time);
}
.circle:active {
    background-color: var(--accion-hover);
}

.menu-left__nav {
    width: 100%;
}

.nav__items  {
    display: flex;
    width: 100%;
    height: var(--size-bar-lef);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--font-color-white);
    font-size: var(--font-size-small);
}

.nav__items:hover /*luego lo cambio o no...*/ {
    background-color: var(--accion-hover);
}
.nav__items:active {
    background-color: var(--accion-hover-2);
    transition: var(--transition-time);
}





/* main */
.conteiner-primary {
    grid-area: main;
    padding: 2ch;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--font-color-white);
}

.row-videos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1% ;
    /* margin-bottom: 2rem; */
}

.card {
    width: 24%;
    /* min-width: 36rem; */
    /* height: 25rem; */
}

.card__conteiner-mini {
    width: 100%;
    margin-bottom: 1rem;
}

.card__mini {
    width: 100%;
    object-fit: cover;
}

.card__conteiner-description-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
}

.card__conteiner-image-channel {
    width: var(--size-cuadrado);
    height: var(--size-cuadrado);
}

.card__image-channel {
    border-radius: 50%;
    width: 100%;
    object-fit: cover;
}

.card__title {
    font-size: var(--font-size-large);
    height: 4ch;
    margin-bottom: 0.5rem;

    max-width: 100%;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.more {
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color-white);
}

.card__description-text {
    font-size: var(--font-size-medium);
    width: 75%;
    margin-left: 0.5rem;
}

.name-channel {
    text-decoration: none;
    color: var(--font-color-white);
    display: block;
    width: max-content;
}

.name-channel h4 {
    font-weight: 400;
}

.name-channel h4:hover {
    font-weight: 900;
}

/*comunidad*/
.conteiner__communidad {
    width: 100%;
    padding-bottom: 2ch;
    border-top: 0.5rem solid var(--accion-hover);
    border-bottom: 0.5rem solid var(--accion-hover);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.communidad__title {
    width: 100%;
    justify-self: flex-start;
    padding: 2ch 0;
    padding-left: 2ch;
}

.communidad__card {
    width: 30%;
    height: 20rem;
    padding: 1ch;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-communidad-card);
}

.communidad__top {
    display: flex;
    align-items: center;
    font-size: var(--font-size-medium);
}

.communidad__conteiner-image-channel {
    width: var(--size-cuadrado);
    height: var(--size-cuadrado);
}

.communidad__image-channel {
    border-radius: 50%;
}

.communidad__center {
    display: flex;
    align-items: center;
    height: 80%;
}

.communidad__conteiner-image-publicacion {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.communidad__bottom {
    display: flex;
    justify-content: space-between;
}

.communidad-bottom__left,
.communidad-bottom__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

/* modals */

.menu-desplegable__modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 250px;
    height: 100vh;
    background-color: var(--bg-marco);
    overflow: auto;
}

.menu-desplegable__modal::-webkit-scrollbar {
    display: none;
}

.menu-desplegable__modal a {
    text-decoration: none;
    color: var(--font-color-white);
}

.menu-desplegable__header {
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-marco);
}

.menu-desplegable.modal {
    width: var(--size-bar-lef);
}

.menu-desplegable__opcions {
    width: 100%;
}

.opcions__conteiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid var(--accion-hover);
    padding: 2rem 0;
}

.opcions__links {
    font-size: var(--font-size-large);
    height: 4rem;
    width: 100%;
    padding-left: 3ch;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.opcions__links:hover {
    background-color: var(--accion-hover);
}

.opcions__links > span:first-child {
    margin-right: 2rem;
}

.opcions-links__conteiner-image {
    width: calc( var(--size-cuadrado) / 2 );
    height: calc( var(--size-cuadrado) / 2 );
    margin-right: 1ch;
}

.opcions-links__image {
    border-radius: 50%;
}

.opcions__links-title-top {
    color: var(--font-color-gray);
    text-transform: uppercase;
    font-size: var(--font-size-large);
}





/*iconos*/

.material-symbols-outlined.hard {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


.material-symbols-outlined.light {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}
