:root {
    --bg-body: #181818;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: var(--bg-body);
    font-family: 'Roboto', Arial, sans-serif;
}
.header__logo {
    
}