:root {
    --bg-body: #181818;
    --bg-marco: #212121;

    --accion-hover: #4F4D4E;
    --accion-hover-2: #464444;
    --bg-item: #ffffff1a;

    --font-size-small: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.4rem;
    --font-colo-white: #fff;
    /* --font-size-large: ; */

    --size-image: 2.4rem;
    --size-bar-lef: 7rem;

    --transition-time: 0.3s;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: var(--bg-body);


    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "menu-left header"
        "menu-left main";
}

.header-top__logo,
img {
    width: 30px;
}

/*inicio de estilos*/

/* header */
.conteiner-header {
    grid-area: header;
}




/* menu left */
.conteiner-menu-left {
    grid-area: menu-left;
    width: var(--size-bar-lef);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bg-marco);
}

.conteiner-menu-left a {
    text-decoration: none;
    color: var(--font-colo-white);
}

.menu-desplegable {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    /* z-index: 10; */
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: var(--transition-time);
}
.circle:active {
    background-color: var(--accion-hover);
}

.menu-left__nav {
    width: 100%;
}

.nav__items  {
    display: flex;
    width: 100%;
    height: var(--size-bar-lef);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--font-colo-white);
    font-size: var(--font-size-small);
}

.nav__items:hover /*luego lo cambio o no...*/ {
    background-color: var(--accion-hover);
}
.nav__items:active {
    background-color: var(--accion-hover-2);
    transition: var(--transition-time);
}





/* main */
.conteiner-videos {
    grid-area: main;
}

/*iconos*/

.material-symbols-outlined.hard {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


.material-symbols-outlined.light {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}
