:root {
    --bg-body: #181818;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: var(--bg-body);
    font-family: 'Roboto', Arial, sans-serif;
}
img {
    width: 30px;    
}

/*--------------------*/

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        "f header"
        "f main";
}

header {
    grid-area: header;
    background-color: lightblue;
}

main {
    grid-area: main;
    background-color: lightgreen;
}
footer {
    grid-area: f;
    background-color: lightcoral;
}