:root {
    --bg-body: #181818;
    --bg-bar: #212121;
    --bg-header: #202020;
    --bg-button: #323232;
    --bg-tag: #ffffff1a;
    --size-box-item: 7.2rem;

    --color-bar: #fff;
    --color-action: #4b4b4b;
    --size-scroll-bar: 1.7rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--bg-body);
    font-family: 'Roboto', Arial, sans-serif;

    height: 500vh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "nav header"
        "nav main";
}
img {
    max-width: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
span.material-symbols-outlined {
    color: #fff;
}
.relleno {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
/*--------------------*/
.header {
    grid-area: header;
    height: 12rem;
    max-width: calc(100vw - (7.2rem + var(--size-scroll-bar) ));

    background-color: var(--bg-header);
    position: sticky;
    top: 0;
}

.header__top {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.header__conteiner-logo {
    height: 100%;
    width: 10rem;
}

.header__logo {
    height: 100%;
    object-fit: contain;
    fill: white;
}

.header__conteiner-share {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__conteiner-share  * {
    height: 70%;
    border: none;
    outline: none;
}

.header__share {
    width: 90%;
    display: flex;
    height: 100%;
    align-items: center;
}

.share {
    width: 90%;
    background-color: var(--bg-body);
    padding-left: 1rem;
    color: var(--color-bar);
    font-size: 1.8rem;
    border: 0.1rem solid var(--bg-button);
}
.button-share {
    width: 10%;
    background-color: var(--bg-button);
}
.button-microfono {
    width: 4rem;
    border-radius: 50%;
    background-color: var(--bg-body);
    
}
.button-microfono > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__conteiner-user {
    width: 25rem;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user__items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.2s;

}

.user__image {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    height: 100%;
}

/*-----------------------*/

.header__nav-bottom {
    height: 50%;
    width: 100%;
    border-top: 0.1rem solid var(--bg-button);
    border-bottom: 0.1rem solid var(--bg-button);
    display: flex;
    align-items: center;
    position: relative;
    
}

.nav__list-tag {

    display: flex;
    max-width: 92%;
    margin: 0 auto;
    /* max-width: 127.1rem; */
    overflow: hidden;
}
.nav-tag__items {
    list-style-type: none;
    min-width: max-content;
    margin: 0 1ch;
}
.links__tag {
    padding: 1ch;
    text-decoration: none;
    color: var(--color-bar);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-tag);
    border-radius: 2.2rem;
}
.links__tag:hover {
    background-color: #4C4C4C;
}

.button__nav {
    position: absolute;
    text-decoration: none;
    color: white;
    background-color: var(--bg-body);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.button__nav:hover {
    background-color: var(--color-action);
}
.button__nav:nth-of-type(1) {
    right: 1rem;
}
.button__nav:nth-of-type(2) {
    left: 1rem;
}

/*-----------------------*/

.nav-left {
    width: var(--size-box-item);
    height: 100vh;
    background-color: var(--bg-bar);
    grid-area: nav;
    position: sticky;
    top: 0;
}

.left__menu-desplegable {
    height: calc( var(--size-box-item) * 0.8  );
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__menu{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    transition: 0.2s;
}

.user__items:active,
.link__menu:active {
    background-color: var(--color-action);
    box-shadow: 0 0 5px var(--color-action);

} 

.menu__buttom {
    list-style-type: none;
}

.left__items {
    list-style-type: none;
}

.icon {
    margin-bottom: 0.5rem;
}

.links__items {
    text-decoration: none;
    height: var(--size-box-item);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left__items:hover {
    background-color: var(--color-action);
}

.text_lef-items {
    color: var(--color-bar);
    font-size: 1rem;
}

/*---------------------------*/

.main {
    grid-area: main;
}
.conteiner-primary-cards {
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 2%;
}


.card {
    width: 23%;
    height: 300px;
    padding: 1rem;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__conteiner-image {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.card__image {
    object-fit: cover;
}

.card__conteiner-description {
    /* padding: 1.5rem 0; */
    height: 40%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card__conteiner-image-channel {
    width: 15%;
}
.image__channel {
    border-radius: 50%;
}