:root {
    --bg-body: #181818;
    --bg-marco: #212121;
    --bg-header: #212121e1;
    --bg-button: #323232;

    --accion-hover: #4f4d4e;
    --accion-hover-2: #464444;
    --accion-hover-tags: #ffffff33;
    --bg-item: #ffffff1a;

    --font-size-small: 1rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.4rem;
    --font-colo-white: #fff;
    --font-colo-black: #000;

    --size-image: 2.4rem;
    --size-bar-lef: 7rem;
    --size-cuadrado: 4rem;
    --size-scroll-bar: 1.7rem;

    --transition-time: 0.3s;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: var(--bg-body);


    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "menu-left header"
        "menu-left main";

    height: 500vh;
}

.header-top__logo,
img {
    max-width: 100%;
    object-fit: cover;
}

/*inicio de estilos*/

/* header */
.conteiner-header {
    grid-area: header;
    height: 12rem;
    background-color: var(--bg-header);
    max-width: calc(100vw - (var(--size-bar-lef) + var(--size-scroll-bar)));
}

/* header top */
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    padding:  0 2ch;
}

.header-top__conteiner-logo {
    width: 12rem;
    height: 100%;
}

.header-top__logo {
    width: 100%;
    fill: var(--font-colo-white);
    object-fit: cover;
}

.header-top__form {
    width: 50%;
    max-width: 65rem;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top-form__bar-search {
    width: 80%;
    height: 100%;
    padding-left: 2ch;
    background-color: var(--font-colo-black);
    border: 0.1rem solid var(--accion-hover);
    color: var(--font-colo-white);
}

.header-top-form__bar-search:focus {
    outline: 0.1rem solid rgb(19, 101, 133);
}

.header-top-form__button-search {
    width: 6rem;
    height: 100%;
    background-color: var(--bg-button);
    border: 0.1rem solid var(--bg-button);
    color: var(--font-colo-white);
    cursor: pointer;
}

button.header-top-form__button-microphone {
    width: var(--size-cuadrado);
    height: var(--size-cuadrado);
    border-radius: 50%;
    background-color: var(--bg-body);
    margin-left: 1ch;
    color: var(--font-colo-white);
    border: none;
    cursor: pointer;
}

.header-top__conteiner-buttons-user {
    width: 15%;
    max-width: 25rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-top__conteiner-buttons-user a {
    text-decoration: none;
    color: var(--font-colo-white);
}

.header-top__button-user {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: var(--size-cuadrado);
    height: var(--size-cuadrado);
}

/* header bottom */
.header__bottom {
    height: 50%;
    border-top: 0.1rem solid var(--accion-hover);
    border-bottom: 0.1rem solid var(--accion-hover);
}

.header__bottom li {
    list-style-type: none;
}

.header__bottom a {
    text-decoration: none;
    color: var(--font-colo-white);
    text-transform: capitalize;
    font-size: var(--font-size-large);
}

.header-bottom__list-tags {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
    padding-right: 1ch;
}

.header-bottom__list-tags::-webkit-scrollbar {
    display: none;
}


.header-buttom__tags-items {
    margin-left: 1ch;
}

.header-buttom__tags-links {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 0.5ch 1ch;
    width: max-content;
    border: 0.1rem solid var(--accion-hover);
    background-color: var(--accion-hover);
    border-radius: 1.2rem;
}

.header-buttom__tags-links:hover {
    background-color: var(--accion-hover-2);
}




/* menu left */
.conteiner-menu-left {
    grid-area: menu-left;
    width: var(--size-bar-lef);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-marco);
}

.conteiner-menu-left a {
    text-decoration: none;
    color: var(--font-colo-white);
    text-transform: capitalize;
}

.menu-desplegable {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 10; */
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size-cuadrado);
    height: var(--size-cuadrado);
    border-radius: 50%;
    transition: var(--transition-time);
}
.circle:active {
    background-color: var(--accion-hover);
}

.menu-left__nav {
    width: 100%;
}

.nav__items  {
    display: flex;
    width: 100%;
    height: var(--size-bar-lef);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--font-colo-white);
    font-size: var(--font-size-small);
}

.nav__items:hover /*luego lo cambio o no...*/ {
    background-color: var(--accion-hover);
}
.nav__items:active {
    background-color: var(--accion-hover-2);
    transition: var(--transition-time);
}





/* main */
.conteiner-videos {
    grid-area: main;
}

/*iconos*/

.material-symbols-outlined.hard {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


.material-symbols-outlined.light {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}
