:root {
    --bg-body: #181818;
    --bg-bar: #212121;
    --size-box-item: 7.2rem;

    --color-bar: #fff;
    --color-action: #4b4b4b;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: var(--bg-body);
    font-family: 'Roboto', Arial, sans-serif;
}
img {
    width: 30px;    
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
span.material-symbols-outlined {
    color: #fff;
}
.relleno {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
/*--------------------*/
.nav-left {
    width: var(--size-box-item);
    height: 100vh;
    background-color: var(--bg-bar);
}

.left__menu-desplegable {
    height: calc( var(--size-box-item) * 0.8  );
    display: flex;
    justify-content: center;
    align-items: center;
}

.link__menu{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    transition: 0.2s;
}

.link__menu:active {
    background-color: var(--color-action);
    box-shadow: 0 0 5px var(--color-action);

} 

.menu__buttom {
    list-style-type: none;
}

.left__items {
    list-style-type: none;
}

.links__items {
    text-decoration: none;
    height: var(--size-box-item);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left__items:hover {
    background-color: var(--color-action);
}

.text_lef-items {
    color: var(--color-bar);
    font-size: 1rem;
    font-weight: 600;
}